<div class="uk-section">
  <div class="uk-container uk-container-large">
    <h1>{{ (state$ | async).category.name }}</h1>

    <div class="uk-child-width-1-2" uk-grid>
      <div>
        <a
          *ngFor="let article of (state$ | async).articles.left"
          routerLink="/article/{{ article.id }}"
          routerLinkActive="active"
          class="uk-link-reset"
        >
          <div class="uk-card uk-card-muted">
            <div *ngIf="article.cover" class="uk-card-media-top">
              <img
                [src]="article.cover.url"
                [alt]="article.cover.alternativeText || ''"
                height="100"
                loading="lazy"
              />
            </div>
            <div class="uk-card-body">
              <p
                id="category"
                *ngIf="article.category"
                class="uk-text-uppercase"
              >
                {{ article.category.name }}
              </p>
              <p id="title" class="uk-text-large">{{ article.title }}</p>
            </div>
          </div>
        </a>
      </div>
      <div>
        <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
          <a
            routerLink="/article/{{ article.id }}"
            routerLinkActive="active"
            *ngFor="let article of  (state$ | async).articles.right"
            class="uk-link-reset"
          >
            <div class="uk-card uk-card-muted">
              <div *ngIf="article.cover" class="uk-card-media-top">
                <img
                  [src]="article.cover.url"
                  [alt]="article.cover.alternativeText || ''"
                  height="100"
                  loading="lazy"
                />
              </div>
              <div class="uk-card-body">
                <p
                  id="category"
                  *ngIf="article.category"
                  class="uk-text-uppercase"
                >
                  {{ article.category.name }}
                </p>
                <p id="title" class="uk-text-large">{{ article.title }}</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
