<div class="uk-section">
  <div class="uk-container uk-container-large">
    <h1>Strapi blog</h1>
    <div class="uk-child-width-1-2" uk-grid *ngIf="articles$ | async">
      <div>
        <a
          *ngFor="let article of (articles$ | async).left"
          routerLink="/article/{{ article.id }}"
          routerLinkActive="active"
          class="uk-link-reset"
        >
          <div class="uk-card uk-card-muted">
            <div *ngIf="article.cover" class="uk-card-media-top">
              <img
                [src]="article.cover.url"
                alt=""
                loading="lazy"
                height="100"
              />
            </div>
            <div class="uk-card-body">
              <p
                *ngIf="article.category"
                class="uk-text-uppercase"
              >
                {{ article.category.name }}
              </p>
              <p class="uk-text-large">{{ article.title }}</p>
            </div>
          </div>
        </a>
      </div>
      <div>
        <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
          <a
            *ngFor="let article of (articles$ | async).right"
            routerLink="/article/{{ article.id }}"
            routerLinkActive="active"
            class="uk-link-reset"
          >
            <div class="uk-card uk-card-muted">
              <div *ngIf="article.cover" class="uk-card-media-top">
                <img
                  [src]="article.cover.url"
                  alt=""
                  loading="lazy"
                  height="100"
                />
              </div>
              <div class="uk-card-body">
                <p
                  *ngIf="article.category"
                  class="uk-text-uppercase"
                >
                  {{ article.category.name }}
                </p>
                <p class="uk-text-large">{{ article.title }}</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
